.main{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 60px;

}