
.main {
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 10px 20px;
    height: 80px;

}

.main a {
    display: flex;
    align-items: center;
    color: gray;
    font-size: 30px;
}