.inputGroup {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.inputGroup select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    box-sizing: border-box;
}

.inputGroup select option {
    padding: 10px;
}
