
.image-container {
    width: 100%;
    height: 200px; /* Устанавливаем фиксированную высоту для изображения */
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 15px; /* Отступ между изображением и списком */
}

.theme-image {
    width: 100%;
    height: auto; /* Сохраняем пропорции изображения */
    object-fit: cover; /* Обеспечивает обрезку изображения по контейнеру */
}

.container.themes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Задайте пространство между карточками */
    padding-top: 130px;
    padding-left: 35px;
}

.blog-theme {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px; /* Фиксированная ширина для карточек */
    transition: transform 0.2s; /* Анимация при наведении */
}

.blog-theme:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
}

.theme-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.features-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.included {
    text-decoration: none;
    color: #008f91;
}

.excluded {
    text-decoration: line-through;
    color: #c4c4c4;
}

.theme-button {
    background-color: #008f91;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.theme-button:hover {
    background-color: #006f75; /* Более тёмный цвет при наведении */
}
