@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #020202;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Exo 2 Light"
}

@layer utilities {
  .text-balance {
    text-wrap: none;
  }
}
