@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;


@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #000000;

  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Exo 2 Light"
}

@layer utilities {
  .text-balance {
    text-wrap: none;
  }
}

form {
  color: var(--foreground);
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #003F62;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form textarea:focus {
  border-color: #003F62;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 179, 179, 0.3);
}

form textarea {
  min-height: 150px;
  resize: vertical;
}

form button {
  width: 100%;
  background-color: #003F62;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: #003F62;
}

form input[type="checkbox"],
form input[type="radio"] {
  margin-right: 10px;
}

form label {
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

form .form-group {
  margin-bottom: 15px;
}

form .form-group.inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}}
